
body{
    background-color: black;
}
h1{
    text-transform: uppercase;
}
.poster{
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;
}
.imagine{
    width: 100%;
    border: 5px solid white;
}